In [1]:
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import time

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [48]:
train_df = pd.read_csv('train.csv')

In [52]:
train_df.describe(include ='all')

                   Id                                           Sequence
count   113845.000000                                             113845
unique            NaN                                             112880
top               NaN  1,23,506,11132,244904,5387888,118533536,260773...
freq              NaN                                                 25
mean    113833.460714                                                NaN
std      65802.747476                                                NaN
min          3.000000                                                NaN
25%      56754.000000                                                NaN
50%     113818.000000                                                NaN
75%     170869.000000                                                NaN
max     227690.000000                                                NaN

In [65]:
train_df['Sequence']

0         1,3,13,87,1053,28576,2141733,508147108,4021352...
1         1,2,1,5,5,1,11,16,7,1,23,44,30,9,1,47,112,104,...
2         1,2,4,5,8,10,16,20,32,40,64,80,128,160,256,320...
3         1,8,25,83,274,2275,132224,1060067,3312425,1099...
4         1,111,12211,1343211,147753211,16252853211,1787...
5         1,1,1,1,1,1,1,1,1,5,1,1,1,1,5,5,1,1,1,1,11,5,5...
6         840,1320,1680,2520,3192,3432,4920,5208,5280,57...
7         1,2,7,27,113,483,2138,9681,44374,205500,961614...
8                                           4,6,8,9,26,1752
9         1,2,1,3,4,2,4,8,8,3,5,13,19,15,5,6,19,36,42,28...
10        1,176,570496,9223556096,460993706622976,552660...
11        18,24,30,36,42,54,60,66,84,108,126,138,174,186...
12        0,0,4,7,8,4,6,8,8,9,9,5,2,1,5,3,1,1,0,0,4,7,8,...
13        648391,718064159,7069067389,22742734291,362942...
14        1,1,3,1,3,7,1,3,11,19,1,3,15,35,47,1,3,19,51,1...
15        0,1,4,7,15,18,31,40,50,61,88,87,119,136,151,17...
16        1,2,3,4,5,7,9,12,21,114,200,351,465,4410,31572...
17                            1,3,635,2049219,7372235460687
18        0,1,2,3,4,5,6,7,8,9,10,12,24,36,48,60,72,84,96...
19        0,1,4,2,4,4,11,3,11,4,11,4,8,11,10,4,11,11,17,...
20        1,2,0,-5,-5,8,21,0,-55,-55,89,233,0,-610,-610,...
21        1,0,0,56,15,56,-1568,-840,-3248,86968,68992,28...
22        1,3,5,7,9,11,13,5,17,19,21,23,25,27,29,31,11,7...
23        1,2,6,3,12,15,4,20,36,28,5,30,70,80,45,6,42,12...
24        1,1,5,15,65,231,1049,4011,18485,74073,344159,1...
25        1,9,2,9,1,78,1,19,3,8,2,77,2,8,3,19,1,78,1,9,2...
26        1,1,1,2,3,5,9,16,28,51,93,170,315,585,1092,204...
27        1,8,17,100,475,2843,16691,105026,668777,437969...
28        1,1,9,1,25,11,1,49,31,43,1,81,61,247,85,1,121,...
29        25,52,125,152,215,512,1125,1152,1215,1251,1512...
                                ...
113815    1,0,1,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,...
113816    1,2,7,20,64,200,686,2324,8194,29084,104860,381...
113817    3,5,7,11,13,17,19,29,31,41,43,47,53,59,61,67,7...
113818    0,8,26,57,104,170,258,371,512,684,890,1133,141...
113819    1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,...
113820    0,1,3,0,4,6,10,12,16,22,24,0,4,6,10,16,22,24,3...
113821    1,0,1,0,0,0,0,0,-1,0,0,0,0,0,0,0,0,0,-2,0,0,0,...
113822    1,7,13,21,25,31,37,41,49,55,61,69,73,81,87,93,...
113823    1,9,17,9,15,17,9,13,9,15,17,9,11,17,9,13,9,15,...
113824    13,25589,47051,67589,136889,313589,960389,1005...
113825    2,6,10,26,42,58,68,196,266,602,1170,1288,1290,...
113826    37182145,46881835,50115065,59814755,1078282205...
113827    1,2,3,4,6,7,8,9,11,12,16,17,21,22,23,24,25,27,...
113828    1,106,11516,1243426,9688988696,96978050779606,...
113829    96,20596,3171708,442135180,61706303456,8496020...
113830    29,1001,32529,1044001,33407143,1068969245,3420...
113831    1,2,4,3,6,9,5,7,12,17,8,10,14,22,25,13,11,15,2...
113832    1,2,0,0,2,0,0,0,0,2,0,0,0,0,0,0,2,0,0,0,0,0,0,...
113833    3,4,5,7,10,14,20,29,43,64,95,142,212,317,475,7...
113834    1,1,4,9,31,40,671,711,2804,6319,21761,28080,47...
113835    12,50,113,201,314,452,615,804,1017,1256,1520,1...
113836    1,1,2,3,5,233,238,471,709,1180,54989,56169,111...
113837    1,6,45,378,3402,32076,312741,3127410,31899582,...
113838    7,7,3,2,3,9,5,4,4,7,3,5,1,6,2,6,8,6,1,5,1,0,7,...
113839    1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...
113840    0,0,4,1198,1829388,23796035743,214296750607865...
113841    0,-1,-1,-1,-1,10324303,-6586524273069171148,11...
113842    0,1,9,85,801,7549,71145,670501,6319089,5955380...
113843    2,3,3,4,6,4,5,10,10,5,6,15,20,15,6,7,21,35,35,...
113844                      5,7,179,229,439,557,6113,223999
Name: Sequence, Length: 113845, dtype: object

In [76]:
train_df.iloc[:,0:1]

            Id
0            3
1            7
2            8
3           11
4           13
5           15
6           16
7           18
8           20
9           21
10          23
11          24
12          26
13          28
14          34
15          35
16          36
17          40
18          41
19          44
20          46
21          49
22          51
23          52
24          53
25          57
26          59
27          61
28          63
29          64
...        ...
113815  227632
113816  227634
113817  227637
113818  227638
113819  227641
113820  227643
113821  227644
113822  227645
113823  227646
113824  227647
113825  227652
113826  227656
113827  227660
113828  227662
113829  227664
113830  227666
113831  227667
113832  227672
113833  227675
113834  227676
113835  227677
113836  227679
113837  227680
113838  227681
113839  227682
113840  227683
113841  227684
113842  227686
113843  227689
113844  227690

[113845 rows x 1 columns]